
@mixin margin-text($left,$rigth){
    margin-left: $left;
    margin-right: $rigth;
}

.title-top {
    @include margin-text(10px,10px);
    word-wrap: break-word;
}

.title-bottom {
     @include margin-text(0px,0px);
}

.card-item {
    margin: 20px
}

.smartdevice-margin-left {
   padding-left: 8%;
    margin-top: 3%;
}

