.title-top {
  margin-left: 35px;
  margin-right: 35px;
  word-wrap: break-word; }

.title-bottom {
  margin-left: 9px;
  margin-right: 9px; }

.card-item {
  margin: 20px; }

.smartdevice-margin-left {
  margin-left: 5%;
  margin-top: 3%; }
