
@mixin margin-text($left,$rigth){
    margin-left: $left;
    margin-right: $rigth;
}

.title-top {
    @include margin-text(35px,35px);
    word-wrap: break-word;
}

.title-bottom {
     @include margin-text(9px,9px);
}

.card-item {
    margin: 20px
}

.smartdevice-margin-left {
    margin-left: 5%;
    margin-top: 3%
}