.title-top {
  margin-left: 10px;
  margin-right: 10px;
  word-wrap: break-word; }

.title-bottom {
  margin-left: 0px;
  margin-right: 0px; }

.card-item {
  margin: 20px; }

.smartdevice-margin-left {
  padding-left: 8%;
  margin-top: 3%; }

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  margin-left: 35%;
  margin-top: 12%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.img-card {
  width: 170px;
  height: 170px; }
