.title-top {
  margin-left: 35px;
  margin-right: 35px;
  word-wrap: break-word; }

.title-bottom {
  margin-left: 1px;
  margin-right: 0px; }

.card-item {
  margin: 20px; }

.smartdevice-margin-left {
  padding-left: 25%;
  margin-top: 3%; }
